body {
    padding-top: 60px;
    padding-bottom: 50px;
}

.ng-hide {
    display:none;
}

.issue {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    font-weight: bold;
}

.resolved-true {
    text-decoration: line-through;
    color: #888;
    background-color: #eee;
    font-weight: normal;
}
.resolved-true * {
    color: #888;
    text-decoration: line-through;
    font-weight: normal;
}

.expired-true {
    background-color: #843534;
    color: #fff;
}

.expired-true * {
    color: #fff;
}