<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Todo list</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body ng-app>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Todo list</a>
			</div>
		  </div>
		</div>
		<div class="container" ng-controller="issuesController">
		<div class="row">	
			<div class="col-sm-6">
		<!-- Main jumbotron for a primary marketing message or call to action -->
				<div class="jumbotron">
				  <div class="container">
					<p>Создавайте новые задачи, редактируйте существующие, удаляйте неактуальные.</p>
					<div class="container">
						<div class="form-horizontal row" role="form" id="todoForm">
							<div class="form-group col-sm-12">
								<label for="issueText">Задача</label>
								<textarea ng-model="issueText" placeholder="Введите текст задачи" id="issueText" class="form-control"></textarea>
							</div>
							<div class="form-group col-sm-12">
								<button id="issueAddBtn" class="btn btn-success" ng-if="editableIssue<0" role="button" ng-click="addIssue()">Создать</button>
								<button id="issueEditBtn" class="btn btn-success" ng-if="editableIssue>=0" role="button" ng-click="addIssue()">Сохранить</button>
							</div>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<div id="issues" class="col-sm-6">
                <h3>Нерешенных задач: {{unresolvedIssuesLength()}}</h3>
			  <div class="issue row resolved-{{issue.resolved}} expired-{{isExpired(issue)}}" ng-repeat="issue in issues | orderBy:issuesOrder" id="issue-{{issue.id}}">
				<div class="col-md-2">{{issue.date}}</div>
				<div class="col-md-7">{{issue.text}}</div>
				<div class="col-md-3 btn-group">
                    <button class="btn btn-xs" ng-class="active=(issue.id==editableIssue)" role="button" ng-click="editIssue(issue.id)"><span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-xs btn-success" role="button" ng-click="resolveIssue(issue.id)"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-xs btn-danger" role="button" ng-click="removeIssue(issue.id)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
			  </div>
			</div>
		</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/jquery.localstorage.js"></script>
        <script src="js/vendor/jquery.json.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script>window.angular || document.write('<script src="js/vendor/angular.min.js"><\/script>')</script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>   
		<script>window.bootstrap || document.write('<script src="js/vendor/bootstrap.min.js"><\/script>')</script>
        <script src="js/vendor/moment-with-langs.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
